/* CSS declarations go here */
/*  Set fonts for pages */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto' !important;
}
a, p, div {
    font-family: 'Roboto' !important;
}

/* Set width of pages */
main {
  width: 80%;
  margin:0 auto;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(57, 54, 58);
}

/* Cards on view listings page */
.card {
  padding: 5px;
  margin: 5px;
  margin-bottom:10px;
  border: 1px rgba(56, 53, 57, 0.3) solid;
}

/* Carousel config */
.carousel {
  max-height: 600px;
  overflow: hidden;
}
.carousel {
    position: relative;
}

/* Get rid of navbar margin */
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid rgb(57, 54, 58);
}
.navbar-default {
    background-color: rgb(57, 54, 58);
}
.navbar-default .navbar-brand {
    color: #FFF;
    letter-spacing: 6px;
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}
.navbar-default .navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-color: white;
    background-color: white;
}

/* Really shittily coded, MAKE SURE we change this1 */
#searchForm {
    margin-top: 10px; 
    left: 8%;
    text-align: center;
}

/*  Button success to purple */
.btn-success {
    background-color: #6D2A6D;
    border-color: #6D2A6D;
}
.btn-success:hover {
    color: #fff;
    background-color: #6D2A6D;
    border-color: #6D2A6D;
}
.btn-primary {
    color: #fff;
    background-color: #6D2A6D;
    border-color: #6D2A6D;
}
.form-control:focus {
    border-color: rgba(109, 42, 109, 0.53);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(109, 42, 109, 0.4);
}

/*  Slick Carousel Config */
#carousel {
  width:    100%;
}

#carousel div {
  width:    100%;
  height:   400px;
}

.slick-prev:before, .slick-next:before {
  color: #6D2A6D;
}
