<template name="userRegister">
  <body>
    {{> navbar}}
    {{> bootstrapAlerts}}
    <container>
      <main>
        <div class="row">
          <div class="text-center">
            <h3>Register</h3>
          </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-5">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-5 text-center">
                  <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-success">Register</button>
                </div>
              </div>
            </form>
        </div>
        <hr>
        <div class="row text-center">
          <h4>Looking to register as an agent on EST8? Click <a href="/agentRegister">here.</a></h4>
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
