<template name="agentLogin">
  <body>
    {{> navbar}}
    {{> bootstrapAlerts}}
    <container>
      <main>
        <div class="row">
          <div class="text-center">
            <h3>Login As An EST8 Agent</h3>
          </div>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-5 text-center">
                  <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-success">Login</button>
                </div>
              </div>
            </form>
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
