<template name="agentregistersuccess">
  <body>
    {{> navbar}}
    {{> bootstrapAlerts}}
    <container>
      <main>
        <div class="row">
          <p>
            Loading ... 
          </p>
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
