<template name="footer">
  <footer class="footer">
      <div class="container">
        <div class="row">
          <p class="text-muted">About Us</p>
        </div>
      </div>
  </footer>
</template>
