<template name="navbar">
  <head>
    <title>EST8 Real Estate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  </head>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">EST8</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/viewlistings">Listings</a></li>
	        <li><a href="/agents" class="search">Agents</a></li>
          {{#if isInRole 'admin, agent'}}
            <li><a href="/addlisting">Add Listing</a></li>
          {{/if}}
          {{#if isInRole 'admin'}}
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="/insertNews">Add News Story</a></li>
               <li><a href="/admin">Admin Settings</a></li>
             </ul>
         </li>
          {{/if}}
          {{#if currentUser}}
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.username}} <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="{{pathFor route='profile'}}" class="profile">Profile</a></li>
               <li><a href="#" class="logout">Logout</a></li>
             </ul>
         </li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
