<template name="insertNews">
  <body>
    {{> navbar}}
    <container>
        <main>
          <h3>Add A News Story</h3>
          {{> quickForm collection="News" id="insertNews" type="insert" omitFields="createdBy, createdAt"}}
        </main>
    </container>
  </body>
</template>
