<template name="newsItem">
  <a href="{{pathFor route='listingInfo'}}">
    <div class="text-center">
      <img src="{{image}}" alt="" class="img-rounded" style="width:100%; height:200px;"/>
          <div class="card-header">
            <h4>{{title}} <small>- {{category}}</small></h4>
          </div>
    </div>
  </a>
</template>
