<template name="addlisting">
  <body>
    {{> navbar}}
    <main>
      <h2>Add A Listing to EST8</h2>
      <p>
        For best results, please enter as much information as possible and upload several photos of your listing.
      </p>
      {{>  insertListingForm}}
    </main>
  </body>
</template>
