<template name="listing">
  <a href="{{pathFor route='listingInfo'}}">
    <div class="text-center">
      <img src="{{pictures.[0]}}" alt="" style="width:100%; height:200px;"/>
          <div class="card-header">
            <h4>{{address}} <small>- {{city}}</small></h4>
          </div>
    </div>
  </a>
</template>
