<template name = "listingInfo">
  <body>
    {{> navbar}}
    <container>
      <main>
        <div class="row text-center">
          <h3>{{address}} <small>{{city}}, {{province}}</small></h3><hr>
        </div>
        <div class="col-sm-12 col-md-6">
          {{> map address=postal}}
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div id="carousel">
              {{#each pictures}}
                <div>
                  <img src="{{this}}" alt="" style="width: 100%; height: 400px;" />
                </div>
              {{/each}}
            </div>
          </div>
          <hr>
            <h4>{{category}} - {{createdAt}} - {{createdBy}}</h4>
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
