<template name="viewlistings">
  <body>
    {{> navbar}}
    <main>
      <h1>All Listings</h1>
        <div class="row animated fadeIn">
        {{#each listings}}
          <div class="col-md-3">
            {{> listing}}
          </div>
        {{/each}}
        </div>
    </main>
  </body>
</template>
