<template name="homepage">
  <body>
    {{> navbar}}
    <container>
        {{> carousel}}
        <main>
          <form class="form-inline" id="searchForm" role="form">
            <div class="form-group">
                {{>  listingType}}
                <input type="text" class="form-control" name="City" placeholder="City"/>
                {{> listingCategory}}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">$</span>
                  <input type="text" class="form-control" name="minPrice" placeholder="Minimum Price" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">$</span>
                  <input type="text" class="form-control" name="maxPrice" placeholder="Maximum Price" aria-describedby="basic-addon1">
                </div>
                {{> listingBedroom}}
                {{> listingBathroom}}
                <button type="submit" class="btn btn-success">Search</button>
            </div>
          </form>
        <div class="homepageHeaders">
          <div class="row text-center animated fadeIn">
              <h3>Recent Listings</h3>
              {{> recentListings}}
          </div>
          <hr>
          <div class="row text-center animated fadeIn">
              <h3>Featured Listings</h3>
          </div>
          <hr>
          <div class="row text-center animated fadeIn">
              <h3>News and Events</h3>
              <p><a href="/news">View All News</a></p>
              {{> recentNews}}
          </div>
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
