<template name="listingType">
  <select class="form-control" id="country" name="country">
    {{#each type}}
    <option value="{{type}}" data-id={{_id}}>{{typeName}}</option>
    {{/each}}
  </select>
</template>
