<template name="agent">
  <a href="{{pathFor route='agentProfile'}}">
    <div class="text-center">
      <img src="{{profile.picture}}" alt="" style="width:200px; height:200px;" class="img-circle"/>
          <div class="card-header">
            <h4>{{profile.firstName}} {{profile.lastName}} <br><small> {{profile.company}}</small></h4>
          </div>
    </div>
  </a>
</template>
