<template name="agents">
  <body>
    {{> navbar}}
    <container>
      <main>
        <h1>EST8 Agents</h1>
        <div class="col-sm-12">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="search" id="agentName" placeholder="John Doe">
            </div>
            <button type="button" class="submit-btn btn-default">Search</button>
          </form>
        </div>
        <hr>
        <div class="row animated fadeIn">
        {{#each users}}
          <div class="col-md-3">
            {{> agent}}
          </div>
        {{/each}}
        </div>
      </main>
    </container>
    {{> footer}}
  </body>
</template>
