<template name="userProfile">
  <body>
  {{> navbar}}
  <container>
    <main>
      <h1>{{username}}</h1>
      <hr>
      <div class="col-sm-12 col-md-6 text-center">
        <img src="{{profile.picture}}" alt="" class="img-thumbnail" style="width: 200px; height: 150px;" />
        {{profile.email}}
        <h3 class="text-primary">{{profile.firstName}} {{profile.lastName}}</h3>
        <hr>
        <div class="col-sm-12">
          {{profile.bio}}
          <hr>
        </div>
        <div class="col-sm-6 text-center text-primary">
          <a href="http://{{profile.website}}">{{profile.website}}</a>
        </div>
        <div class="col-sm-6 text-center text-info">
          {{profile.company}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          {{> fullcalendar }}
        </div>
      </div>
    </main>
  </container>
  {{> footer}}
  </body>
</template>
